<div id="tempMsg" class="input-group">
  <form ng-submit="main.addNewChat(username,message);">
      <input type="text" ng-model="username" placeholder="user id" class="form-control"><br>
      <input type="text" ng-model="message" placeholder="message" class="form-control"><br>
      <input class="btn btn-lg btn-success" type="submit" value="+">
    </form>
</div>
<div class="container-fluid panel panel-default">
  <div class="row">
    <div id="conversationsSide" class="convSide col-sm-4 sidenav">
      <div ng-repeat="conv in main.conversations | orderBy:'lastTimeStamp' track by conv.convId"  ng-click="getCtrl().convClicked($event)" ng-class="{unread: main.isUnread(conv.convId)}" ng-hide="main.isNotParticipantConversation(conv.convId)" id={{::conv.convId}}>
        <div class="">{{conv.name}}</div>
        <div class="">{{main.getLastMessage(conv.convId)}}</div>
      </div>
      <!--<ul ng-repeat="conv in main.conversations" ng-class="{unread: main.isUnread($index)}" class="listGroup">
        <li class="list-group-item">{{conv.name}}</li>
        <li class="list-group-item">{{main.getLastMessage(conv.convId)}}</li>
      </ul>-->

    </div>

    <div id="chatSide" class="chSide col-sm-8">
      <div id="chatHeader" class="header">
        <div id="headerBody" >
          Title
        </div>
      </div>
      <div id="chatBody" class="chatBodyStyle">
        <div ng-repeat="msg in main.filteredMsgs track by $index"  class="" ng-hide="main.isNotParticipantMessage($index)">
          <div ng-class="{msgSend: msg.sender==main.currentUser.id, msgReceived: msg.sender!=main.currentUser.id}">{{msg.text}}</div>
        </div>
      </div>
      <div id="chatSendMessage">
        <input type="text" ng-model="message" placeholder="message" class="form-control">
      </div>
    </div>
  </sdiv>
</div>
